
*{
    margin: 0;
    padding: 0;
    
    }
body{
    background-color: rgb(86, 78, 100);
    font-family: sans-serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
   
}
.container ul{
    width: 100%;
    list-style: none;
    margin: 0 auto;
    margin-top: 50px;
}   
.container ul li{
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.container ul li:hover{
    border: 1px solid  rgb(118, 116, 121) ;
    border-radius: 3px;
}
a:link{
    text-decoration: none;
}
a{  
    
    color: white;
    width: 100%;
}
ul a:hover{
    color: lightgrey;
}


@media screen and (min-width:750px){
    .container ul{
        display: flex;
        width: 100%;
        list-style: none;
        margin: 0 auto;
        margin-top: 50px;
    }   
    .container ul{
        width: 50%;
        list-style: none;
        margin: 0 auto;
        margin-top: 50px;
    }   
    .container ul li{
        width: 50%;
    }
}